/******** VARIABLE DECLARATIONS ********/


/******** BODY STYLINGS ********/
body {
  background: skyblue;
  color: darkslategrey;
}

/******** END BODY STYLINGS ********/


/******** HEADER STYLINGS ********/

header {
  background: burlywood;
  position: fixed;
  top: 0;
  width: 100%;
    h1 {
      display: inline-block;
    }
}

nav {
  display: inline;
    p {
      padding: 1%;
      display: inline-block;
    }
}


.nav-sign {
  display: inline-block;
    form {
      position: absolute;
      right: 5px;
      top: 21px;
    }
    #log-error {
      color: red;
      position: absolute;
      right: 40px;
      top: 60px;
    }
}


input[type="text"]#signUsername,
input[type="text"]#signPassword {
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 4px;
}

#log-out {
  position: fixed;
  right: 2%;
  top: 30px;
}

/******** END HEADER STYLING *********/

/******** REGISTER MODAL ********/

.sign-up-container {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  background: rgba(0,0,0,0.6);
  z-index: 5;
}

.modal-box {
  position: relative;
  top: 5%;
  background: white;
  padding: 2%;
  margin: 4% auto;
  text-transform: center;
  width: 80%;
  z-index: 6;
}

#close-modal {
  float: right;
}

/********* END REGISTER MODAL *********/

/******** MAIN CONTAINER ********/

.container {
  margin: 12% auto 3% auto;
  padding: 2%;
  border: 1px solid black;
}


/******** END MAIN CONTAINER ********/

/******** FOOTER ********/

footer {
  padding: 1%;
  background: aliceblue;
  width: 100%;
}


/********* END *********/
