<!DOCTYPE html>
html(lang="en" ng-app="QuariusApp")
  head
    include includes/head
  
  body(ng-controller="UsersController")
    #fb-root
    script(src="./js/facebook.js")
    .modal-container(ng-if="showSign")
      include includes/sign-up
    header
      h1#wordmark(ng-click="showMain()") Quarius
      nav
        p(ng-click="showAbout()") About
        p(ng-click="showContact()") Contact
        p(ng-click="showResources()") Resources
        a(id="log-out" ng-click="logOut()" ng-if="currentUser") Log Out
        a(ng-click="signUpModal()" ng-show="!showSign && !currentUser") Sign Up
      div.nav-sign
        .sign-in(ng-if="!currentUser")
          form(ng-submit="logIn()")
            label(for="signUsername")
            input(type="text" id="signUsername" ng-model="signUser.username" placeholder="Username")
            label(for="signPassword")
            input(type="password" id="signPassword" ng-model="signUser.password" placeholder="Password")
            button.btn.btn-primary(type="submit") Log In
          .panel.panel-danger#log-error-display(ng-if="logError")
            .panel-heading
              h4 Error
            .panel-body
              p(id="log-error") {{logError}}
      div.user-menu(ng-if="currentUser")
        p {{currentUser.username}}@{{currentUser.company}}
        span(ng-click="userHome()") Profile
        span(ng-click="userProfile()") Edit Profile
        span(ng-click="userTeams()") Teams
        
            
    .container
      .home(ng-show="showPage === 0")
        include includes/home
              
      .about(ng-show="showPage === 1")
        include includes/about
        
      .contact(ng-show="showPage === 2" ng-controller="sendMailController")
        include includes/contact
        
      .resources(ng-show="showPage === 3")
        include includes/resources
    
    footer
      .row
        .col-md-6
          p &copy;{{yearNow}} Quarius & Serval Ventures
        .col-md-6
          p Terms of Use & Privacy
          
