h3 Sample 4 Q Test
p We'd love to hear from you! Your information will not be shared etc... Please provide your name and e-mail so we can learn more about how to develop our product...
//- This form does not work yet
form
  label(for="sampleName") Name
  input(type="text" id="sampleName" ng-model="sample.name" placeholder="Name")
  label(for="sampleEmail") E-Mail
  input(type="email" id="sampleEmail" ng-model="sample.email" placeholder="Email")
form
  h4 At least 51% of the time, you tend to:
  div
    label() Meet deadlines at the last minute
      input(type="radio" value="1" name="q1" ng-model="quiz.q1")
    label() Meet deadlines early
      input(type="radio" value="2" name="q1" ng-model="quiz.q1")
  div
    label() See and point out flaws
      input(type="radio" value="1" name="q2" ng-model="quiz.q2")
    label() Observe and compliment others
      input(type="radio" value="2" name="q2" ng-model="quiz.q2")
  div
    label() Make detailed plans and schedules
      input(type="radio" value="1" name="q3" ng-model="quiz.q3")
    label() Be spontaneous and flexible
      input(type="radio" value="2" name="q3" ng-model="quiz.q3")
  div
    label() Stay organized and complete projects
      input(type="radio" value="1" name="q4" ng-model="quiz.q4")
    label() Juggle many projects
      input(type="radio" value="2" name="q4" ng-model="quiz.q4")
  button(type="submit" ng-click="submit4q()") Click Me
  p.test-error(ng-if="fourQerr") {{fourQerr}}
  p.test-4-results(ng-if="fourQresults") {{fourQresults}}
