h3 About Quarius
div.mission
  h5 Our Network
  p Inkwhy means "I need knowledge, what have you?" Our experts combine over 30 years of experience in various industries that span many functions. Our partners have built multi-million dollar companies and offer knowledge on building a startup from the ground up, adjusting to a mid-sized company, scaling to become a large enterprise, and operating efficiently at all levels of your business. If you are interested in becoming a strategic partner or tapping into our network, please #[a(ng-click="showContact()") contact us.] We look forward to hearing from you!
  h5 Our Vision
  p Inkwhy is focused on value. We make 1+1=3. We believe in sharing our abundance of resources and implementing them in the best way.
div.roadmap
  h5 Roadmap
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore accusamus, quisquam quam, consectetur tenetur cum laborum! Dicta explicabo illum alias expedita similique, accusantium sed fugiat, harum quisquam natus, facilis nobis.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste debitis voluptatibus deleniti id excepturi eum repudiandae obcaecati molestiae libero ad, earum ipsam quos architecto saepe sequi aliquam fugiat tempora cum.
div.team
  h5 Our Team
  .row
    .col-md-4
      img(src="http://www.fillmurray.com/140/200", alt="fill murray")
      h6 name
      p bio
    .col-md-4
      img(src="http://www.fillmurray.com/140/200", alt="fill murray")
      h6 name
      p bio
    .col-md-4
      img(src="http://www.fillmurray.com/140/200", alt="fill murray")
      h6 name
      p bio
