h4 Contact Us
form(action="")
  div
    label(for="contactName") Name
    input(type="text" id="contactName" ng-model="contact.name")
  div
    label(for="contactEmail") E-Mail
    input(type="email" id="contactEmail" ng-model="contact.email")
  div
    label(for="contactTopic") Topic
    select(id="contactTopic" ng-model="contact.topic" required)
      option(value="Product Question") Product Question
      option(value="Help Requests") Help Requests
      option(value="Suggestions") Suggestions
      option(value="Other") Other
  div
    label(for="contactSubject") Subject
    input(type="text" id="contactSubject" ng-model="contact.subject")
  div
    label(for="contactMessage") Message
    textarea(id="contactMessage" ng-model="contact.message")
  button(type="button" ng-click="sendMail()") Send Message
  
p.message(ng-if="showMessage") {{showMessage}}
