h2(class="tagline") ...I See Your True Colors... tagline here

div
  h3 Discover Your True Colors
  h5 Managing a diverse group can be challenging
  p Take this quick 5-minute color quiz to gain insight into your own color personality, and share it with your team to find out more about how you can strengthen your work relationships and improve understanding of your role on the team.
  
  .color-description
    .row
      .col-md-12
        h3 
    .row
      .col-md-3(ng-repeat="color in colors" class="color-box-{{color.name}}")
        h4 {{color.icon}} {{color.name}}
          ul
            li(ng-repeat="quality in color.qualities") {{quality}}
  
  .fourQtest(ng-show="!currentUser")
    include 4qtest
