h2(class="tagline") ...I See Your True Colors... tagline here

div
  h3 Discover Your True Colors
  h5 Managing a diverse group can be challenging
  p Take this quick 5-minute color quiz to gain insight into your own color personality, and share it with your team to find out more about how you can strengthen your work relationships and improve understanding of your role on the team.
  
  .color-description
    .row
      .col-md-12
    .row
      .col-md-3
        h4 Green
          ul
            li Expressive
            li Empathetic
            li People-Focused
      .col-md-3
        h4 Blue
          ul
            li Analytical
            li Theoretical
            li Competitive
      .col-md-3
        h4 Gold
          ul
            li Organized
            li Systematic
            li Accountable
      .col-md-3
        h4 Red
          ul
            li Courageous
            li Spontaneous
            li Action-Oriented
  
  .fourQtest(ng-show="!currentUser")
    include 4qtest
