.brand(ng-show="!currentUser")
  h2(class="tagline") ...Tagline here
  //- This may never exist
  img.demo-anim(src="https://www.astrologyzone.com/wp-content/themes/JointsWP-master/assets/images/horoscopes/horoscope-article-hero/az_img_horoscope_aquarius.png")

//- div.announcements
//-   h3 Announcements
//-   ul
//-     li
//-       h5 Hi
//-       p Content
//-     li
//-       h5 Hi

div(ng-show="!currentUser")
  h3 Discover Your True Colors
  h5 Managing a diverse group can be challenging
  p Take a quick quiz to gain insight into your own color personality, and share it with your team to find out more about how you can strengthen your work relationships and improve understanding of your role on the team.
  a(ng-click="take4Qquiz()") Four Question Quiz
  //- a(ng-click="twelveQquiz = true" ng-show="!twelveQquiz") Twelve Question Quiz

div(ng-show="currentUser")
  include userpage.jade
  
.fourQtest.modal-container(ng-show="fourQquiz > 0" ng-controller="TestController")
  include 4qtest    
      
      
  //- 
  //- div(ng-if="!currentUser.primaryColor" ng-show="!fourQquiz")
  //-   h4 You haven't taken our tests yet... click below to start
  //-   a(ng-click="fourQquiz = true") Four Question Quiz
  
  
  
  







//-
