h3 Resources
p Check out these resources to reinforce benefits of personality testing for professional development & team effectiveness
ul
  li
    a(href="http://inkwhy.com/") inkwhy
  li
    a(href="http://www.google.com/") google
  li
    a(href="http://www.yahoo.com") yahoo
  li
    a(href="http://www.servalventures.com") servalventures
