.modal-box
  span.close-modal(ng-click="closeModal()") X
  div.register-form(ng-if="regSuccess === false")
    h2 Register
    h6 All fields with (*) are required
    form.form-horizontal(ng-submit="register()")
      .form-group
        label.col-sm-2(for="newUserUsername") Username
        .col-sm-4
          input(type="text" id="newUserUsername" ng-model="newUser.username" placeholder="Username" minlength="4" required)
          p Example: johnsmith
      .form-group
        label.col-sm-2(for="newUserPassword") Password
        .col-sm-4
          input(type="password" id="newUserPassword" ng-model="newUser.password" placeholder="Password" minlength="4" required)
          p Example: MySecretPassword
        label.col-sm-2(for="confirmPassword") Confirm Password
        .col-sm-4
          input(type="password" id="confirmPassword" ng-model="newUser.confirmPassword" placeholder="Password" minlength="4" required)
          p Example: MySecretPassword
      .form-group
        label.col-sm-2(for="newUserFirstName") First Name
        .col-sm-4
          input(type="text" id="newUserFirstName" ng-model="newUser.firstname" placeholder="First Name" required)
          p Example: John
        label.col-sm-2(for="newUserLastName") Last Name
        .col-sm-4
          input(type="text" id="newUserLastName" ng-model="newUser.lastname" placeholder="Last Name" required)
          p Example: Smith
      .form-group
        label.col-sm-2(for="newUserEmail1") E-Mail Address
        .col-sm-4
          input(type="email" id="newUserEmail1" ng-model="newUser.email1" placeholder="E-Mail" required)
          p Example: john.smith@gmail.com
      .form-group
        label.col-sm-2(for="newUserType") Membership Level
        .col-sm-4
          select(id="newUserType" ng-model="newUser.type" required)
            option(value="0") Team Member
            option(value="1") Team Leader
            option(value="2") Manager
      .form-group(ng-if="newUser.type > 0")
        label.col-sm-2(for="newUserCompany") Company/Organization
        .col-sm-4
          input(type="text" id="newUserCompany" ng-model="newUser.company" placeholder="Company/Organization" required)
          p Example: Serval Ventures
        label.col-sm-2(for="newUserPosition") Position
        .col-sm-4
          input(type="text" id="newUserPosition" ng-model="newUser.position" placeholder="Position" required)
          p Example: Director of HR
      .form-group(ng-if="newUser.type > 1")
        label.col-sm-2(for="newUserOffPhone") Office Phone Number
        .col-sm-4
          input(type="tel" id="newUserOffPhone" ng-model="newUser.offPhone" placeholder="Office Phone Number" required)
          p Example: 555-555-5555
        label.col-sm-2(for="newUserCellPhone") Cell Phone Number 
        .col-sm-4
          input(type="tel" id="newUserCellPhone" ng-model="newUser.cellPhone" placeholder="Cell Phone Number" required)
          p Example: 666-666-6666
      .form-group(ng-if="newUser.type > 1")
        label.col-sm-2(for="newUserEmail2") Alternate E-Mail Address
        .col-sm-4
          input(type="email" id="newUserEmail2" ng-model="newUser.email2" placeholder="Alternate E-Mail")
          p Example: johnnyrocket@yahoo.com
      .col-sm-offset-6
        button.btn.btn-success(type="submit") Register
  .panel.panel-danger#register-error-display(ng-if="regMessage")
    .panel-heading
      h4 Error
    .panel-body
      p {{regMessage}}
