h3 Hi {{currentUser.firstname}}
.logged-results(ng-if="currentUser.primaryColor")
  h4(ng-show="currentUser.primaryColor") Your Primary Color is: {{currentUser.primaryColor}}
  h4(ng-repeat="color in colors" ng-show="color.name === currentUser.primaryColor" class="color-box-{{color.name}}") {{color.icon}} {{color.name}}
    ul
      li(ng-repeat="attr in color.qualities") {{attr}}
  h4(ng-show="currentUser.secondaryColor") Your Secondary Color is: {{currentUser.secondaryColor}}
  h4(ng-repeat="color in colors" ng-show="color.name === currentUser.secondaryColor" class="color-box-{{color.name}}") {{color.icon}} {{color.name}}
    ul
      li(ng-repeat="attr in color.qualities") {{attr}}
  h4(ng-show="currentUser.vert") You are an {{currentUser.vert}}
  .social-network-share
    h4 Like Us on Social Media
    .fb-share-button(data-href="https://quarius.herokuapp.com/" data-layout="button" data-size="large" data-mobile-iframe="true")
      a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fquarius.herokuapp.com%2F&amp;src=sdkpreparse") Share
    #twitter-share
      a.twitter-share-button(href="https://twitter.com/intent/tweet?text=I\'m a gold!" data-size="large") Tweet
    #linkedin-share
      script(src="//platform.linkedin.com/in.js") lang: en_US
      script(type="IN/Share" data-url="quarius.herokuapp.com")
      
//-     <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
//- <script type="IN/Share"></script>
div(ng-show="!currentUser.primaryColor")
  p Looks like you haven't taken a personality quiz, click below to take our 4 question quiz
  a(ng-click="fourQquiz = true" ng-show="!fourQquiz") Four Question Quiz
div(ng-show="currentUser.primaryColor")
  p Don't think your colors suit you? You can try again by clicking below
  a(ng-click="take4Qquiz()") Four Question Quiz
h4(ng-click="editPersonal = !editPersonal") Edit Personal Information?
.edit-personal-info(ng-if="editPersonal")
  include editpersonal.jade
  
  
.management-level(ng-show="currentUser.type > 0" ng-controller="TeamsController")  
  h3 Management Menu
  h4 Your Teams:
  ul
    li(ng-repeat="team in currentUser.teams") {{team.name}}
  h4 Would you like to create a team?
    form(ng-submit="createTeam()")
      label(for="team-name")
      input(id="team-name" ng-model="team.name")  
      





//-
