h3 Edit Profile
h5(ng-click="showEditPassword()") Change Password?
form.form-horizontal
  .form-group
    label.col-sm-2(for="currentUserFirstName") First Name
    .col-sm-4
      input(type="text" id="currentUserFirstName" ng-model="currentUser.firstname" placeholder="First Name" required)
    label.col-sm-2(for="currentUserLastName") Last Name
    .col-sm-4
      input(type="text" id="currentUserLastName" ng-model="currentUser.lastname" placeholder="Last Name" required)
  .form-group
    label.col-sm-2(for="currentUserEmail1") E-Mail Address
    .col-sm-6
      input(type="email" id="currentUserEmail1" ng-model="currentUser.email1" placeholder="E-Mail" required)
      //- SHOULD THIS BE HERE???
  //- .form-group
  //-   label.col-sm-2(for="currentUserType") Membership Level
  //-   .col-sm-6
  //-     select(id="currentUserType" ng-model="currentUser.type" required)
  //-       option(value="0") Team Member
  //-       option(value="1") Team Leader
  //-       option(value="2") Manager
  .form-group(ng-if="currentUser.type > 0")
    label.col-sm-2(for="currentUserCompany") Company/Organization
    .col-sm-4
      input(type="text" id="currentUserCompany" ng-model="currentUser.company" placeholder="Company/Organization" required)
    label.col-sm-2(for="currentUserPosition") Position
    .col-sm-4
      input(type="text" id="currentUserPosition" ng-model="currentUser.position" placeholder="Position" required)
  .form-group(ng-if="currentUser.type > 1")
    label.col-sm-2(for="currentUserOffPhone") Office Phone Number
    .col-sm-4
      input(type="tel" id="currentUserOffPhone" ng-model="currentUser.offPhone" placeholder="Office Phone Number" required)
    label.col-sm-2(for="currentUserCellPhone") Cell Phone Number 
    .col-sm-4
      input(type="tel" id="currentUserCellPhone" ng-model="currentUser.cellPhone" placeholder="Cell Phone Number" required)
  .form-group(ng-if="currentUser.type > 1")
    label.col-sm-2(for="currentUserEmail2") Alternate E-Mail Address
    .col-sm-4
      input(type="email" id="currentUserEmail2" ng-model="currentUser.email2" placeholder="Alternate E-Mail")
  button(ng-click="editAccount()") Submit Changes

form.changePassword(ng-submit="changePassword()")
  h3 Change Password
  .form-group
    label.col-sm-3(for="userOldPass") Current Password
    .col-sm-9
      input(type="password" id="userOldPass" ng-model="passChange.oldPass")
  .form-group
    label.col-sm-3(for="userNewPass") New Password
    .col-sm-9
      input(type="password" id="userNewPass" ng-model="passChange.newPass")
  .form-group 
    label.col-sm-3(for="userConfirmPass") Confirm New Password
    .col-sm-9
      input(type="password" id="userConfirmPass" ng-model="passChange.confirmPass")
  button(type="submit") Change Password
  p.change-pass-error(ng-show="passChangeErr") {{passChangeErr}}
