.user-profile-section(ng-show="userview === 0")
  h3 Hi {{currentUser.firstname}}
  .logged-results(ng-if="currentUser.primaryColor")
    .row(ng-repeat="color in colors" ng-show="color.name === currentUser.primaryColor" class="color-box-{{color.name}}")
      .col-md-4
        h4(ng-show="currentUser.primaryColor") Your Primary Color is: {{currentUser.primaryColor}}
      .col-md-3
        h4() {{color.icon}} {{color.name}}
      .col-md-3
          ul
            li(ng-repeat="attr in color.qualities") {{attr}}
    .row(ng-repeat="color in colors" ng-show="color.name === currentUser.secondaryColor" class="color-box-{{color.name}}")
      .col-md-4
        h4(ng-show="currentUser.secondaryColor") Your Secondary Color is: {{currentUser.secondaryColor}}
      .col-md-3
        h4() {{color.icon}} {{color.name}}
      .col-md-3
        ul
          li(ng-repeat="attr in color.qualities") {{attr}}
    .row(class="color-box-{{currentUser.vert}}")
      .col-md-12
        h4(ng-show="currentUser.vert") You are an {{currentUser.vert}}
    .social-network-share
      h4 Like Us on Social Media
      .fb-share-button(data-href="https://quarius.herokuapp.com/" data-layout="button" data-size="large" data-mobile-iframe="true")
        a.fb-xfbml-parse-ignore(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fquarius.herokuapp.com%2F&amp;src=sdkpreparse") Share
      #twitter-share
        a.twitter-share-button(href="https://twitter.com/intent/tweet?text=I\'m a gold!" data-size="large") Tweet
      #linkedin-share
        script(src="//platform.linkedin.com/in.js") lang: en_US
        script(type="IN/Share" data-url="quarius.herokuapp.com")
        
  //-     <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
  //- <script type="IN/Share"></script>
  div(ng-show="!currentUser.primaryColor")
    p Looks like you haven't taken a personality quiz, click below to take our 4 question quiz
    a(ng-click="fourQquiz = true" ng-show="!fourQquiz") Four Question Quiz
  div(ng-show="currentUser.primaryColor")
    p Don't think your colors suit you? You can try again by clicking below
    a(ng-click="take4Qquiz()") Four Question Quiz
.user-edit-section(ng-show="userview === 0")
  h4(ng-click="userProfile()") Edit Personal Information?
  
.edit-personal-info(ng-if="userview === 1")
  include editpersonal.jade
  
.teams-section(ng-controller="TeamsController")  
  .team-list(ng-show="userview === 2")
    h3 Team Menu
    h4 Your Teams:
    .team-container
      .row(ng-repeat="team in currentUser.teams") 
        .col-sm-4
          h5 {{team.name}}
        .col-sm-2
          p(ng-show="team.management.includes(currentUser._id)" ng-click="getCurrentTeam(team._id)") &nbsp; Manage
        .col-sm-2
          p(ng-show="team.teamMembers.includes(currentUser._id)" ng-click="getCurrentTeam(team._id)") View
    .team-creation-section(ng-show="currentUser.type > 0")
      h4 Would you like to create a team?
      form(ng-submit="createTeam()")
        label(for="team-name") Team Name
        input(id="team-name" ng-model="team.name")
        button(type="submit") Create Team
      
  .edit-current-team(ng-if="userview === 3")
    span(id="back-team-menu" ng-click="backToTeamList()") 
      i.fa.fa-arrow-left
      span Back
    h3 {{currentTeam.name}}
    h4 Team Managers
    ul
      li(ng-repeat="manager in currentTeam.management") {{manager.firstname}} {{manager.lastname}}
    h4 Team Members
    .current-team-memberlist
      .row(ng-repeat="member in currentTeam.teamMembers" class="user-color-list-{{member.primaryColor}}")
        .col-sm-4
          p {{member.firstname}} {{member.lastname}}
        .col-sm-2
          p {{member.primaryColor}}
        .col-sm-2
          p {{member.secondaryColor}}
        .col-sm-2
          p {{member.vert}}
        .col-sm-2(ng-show="currentUser._id !== member._id")
          p(ng-show="filterForManagement()" ng-click="removeUserFromTeam(member._id)") Remove
    .add-team-members(ng-show="filterForManagement()")
      h4 Add Team Members
      label(for="") Search by Last Name
      input(type="text" ng-model="currentTeamAddQuery.lastname")
      ul(ng-show="currentTeamAddQuery")
        li(ng-repeat="user in allUsers | filter:currentTeamAddQuery | limitTo:20" ng-if="privacyLevel(user)") {{user.firstname}} {{user.lastname}}
          span.add-person(ng-if="searchNewMembers(user._id)" ng-click="addToCurrentTeam(user._id)") &nbsp; + Add
          span.add-manager(ng-if="searchNewManagement(user)" ng-click="addManagerToTeam(user._id)") &nbsp; + Add Manager
          
        //- br
        //- label(for="") Add Team Members ( By Last Name )
        //- input(type="text" ng-model="query.lastname")
        //- ul(ng-show="query")
        //-   li(ng-repeat="user in allUsers | filter:query | limitTo:5" ng-if="user._id !== currentUser._id" data-userID="{{user._id}}") {{user.firstname}} {{user.lastname}}
        //-     span.add-person(ng-click="addToTeam") &nbsp; + Add
      





//-
