.fourQtest(ng-controller="TestController")
  h4 Sample 4 Q Test
  form(ng-submit="clickMe()")
    h4 At least 51% of the time, you tend to:
    div
      label() Meet deadlines at the last minute
      input(type="radio")
      label() Meet deadlines early
      input(type="radio")
    div
      label() See and point out flaws
      input(type="radio")
      label() Observe and compliment others
      input(type="radio")
    div
      label(for="fourQthree") Question #3
      input(type="radio")
      input(type="radio")
    div
      label(for="fourQfour") Question #4
      input(type="radio")
      input(type="radio")
    button(type="submit") Click Me
